// Modifications to preview webpage base styles to make print-to-PDF output match
@media print {
    @page {
        size: 8.5in 11in;
    }

    .display-margins {
        height: 10.2in;
    }

    .main-content {
        height: 10.2in;
        overflow: visible;
    }

    body {
        background-color: white;
    }

    .display-margins {
        padding: 0 0 0 0;
    }
}