<!-- Special variation of Head Template for Short Resume Head. -->

<!-- DEFAULT: All Resumes will always include the Resume Title and Contact Info.
This also puts the two head items, the Resume Title and Contact Info into a 
single block for styling purposes. -->


<div class="resume-head">

    <!-- SWITCH: Add default Resume head content to Resume head and if modified templates 
    exist use those instead -->

    <!-- Add Resume Title -->
    {% if site.modified_resume_templates contains "resumeTitleTemplate" %}
    {% include_relative _includes/resumeTitleTemplate.html %}
    {% else %}
    <!-- Use Default Template -->
    {% include defaultElementTemplates/resumeTitleTemplate.html %}
    {% endif %}

    <!-- Add Resume Contact Info -->
    {% if site.modified_resume_templates contains "contactInfoTemplate" %}
    {% include_relative _includes/contactInfoTemplate.html %}
    {% else %}
    <!-- Use Default Template -->
    {% include defaultElementTemplates/contactInfoTemplate.html %}
    {% endif %}

</div>