<!-- Add all Element Templates to Resume index.html -->
{% for element in site.defaultResumeContents %}

{% if page.excludeResumeContents contains element %}
{% continue %}

{% elsif site.modifiedResumeTemplates contains element %}
<!-- Check if automatically included modified Template should be replaced with default Template -->
{% if page.overrideResumeTemplates contains element %}
{% include defaultSectionTemplates/{{element}}.html %}
<!-- Use modified Template -->
{% else %}
{% include_relative _includes/{{element}}.html %}
{% endif %}

<!-- If none of the above true use default Template -->
{% else %}
{% include defaultSectionTemplates/{{element}}.html %}
{% endif %}
{% endfor %}