---

---

{% include defaultSectionTemplates/resumeTitleTemplate.html %}

{% include defaultSectionTemplates/contactInfoTemplate.html %}

{% include defaultSectionTemplates/summaryTemplate.html %}

{% include defaultSectionTemplates/skillSetsTemplate.html %}

{% include defaultSectionTemplates/projectsTemplate.html %}

{% include defaultSectionTemplates/minorProjectsTemplate.html %}

{% include defaultSectionTemplates/certsTemplate.html %}

{% include defaultSectionTemplates/educationTemplate.html %}

{% include defaultSectionTemplates/professionalBackgroundTemplate.html %}

{% include defaultSectionTemplates/communityServiceTemplate.html %}

{% include defaultSectionTemplates/awardsTemplate.html %}