<div class="resume-title-element resume-head">
    <div class="title-element-head">
        <div class="resume-title">{{ site.data.defaultResumeData.resumeTitleData.name }}</div>
    </div>

    <!-- SWITCH: unless "page.includeProfessionalTitle" is set to "true", the professional title
    will NOT be included. This means DEFAULT is not to include the professional title. -->
    {% if page.includeProfessionalTitle %}
    <div class="title-element-body">
        <div class="professional-title">
            {{ site.data.defaultResumeData.resumeTitleData.professional-title }}
        </div>
    </div>
    {% endif %}
</div>