<!-- The Awards Template file is intended to pair as the 'child' of the Community 
Service Template file in the same way that "minorProjectsData.json" slots under 
"projectsData.json" as its child, i.e. minor projects (and thus this file) has an 
optional, default off, header so that it will appear as if it just part of the 
projects section of the resume, and not its own separate section. -->

<!-- Set correct Data Source -->
{% if site.modifiedResumeData contains "awardsData" %}
<!-- Check if automatically included modified Data should be replaced with default Data  -->
{% if page.overrideResumeData contains "awardsData" %}
{% assign DataLocation = site.data.defaultResumeData.awardsData %}
<!-- Use modified Data -->
{% else %}
{% assign DataLocation = site.awardsData %}
{% endif %}
<!-- If none of the above true use default Data -->
{% else %}
{% assign DataLocation = site.data.defaultResumeData.awardsData %}
{% endif %}

<div class="awards-element element-block">
    <!-- SWITCH: unless "page.includeAwardsElementTitle" is set to "true", the awards element title
    will NOT be included. This means DEFAULT is not to include the element title. -->
    {% if page.includeAwardsElementTitle %}
    <div class="awards-element-head">
        <div class="awards-element-title element-title">Awards &amp; Honors</div>
    </div>
    {% endif %}

    <div class="awards-element-body">
        <!-- * Loop through awards Section Entries -->
        {% for award in DataLocation %}
        <!-- Setup each variable used in main loop -->
        {% assign CurrentAward = award.name | replace: " ", "_" %}
        <!-- SWITCH: if award in "page.skipAward: []" then the award Section Entry will be skipped.
        Note: each Award name is the "name" value for the Award in the  "awardsData.json" data file but 
        with all whitespace replaced with underscores, 
        e.g. "William_T._Hornaday_Award_for_Environmental_Conservation" -->
        {% unless page.skipAward contains CurrentAward %}
        <div class="award-section-entry">
            <div class="award-head">
                <div class="award-title">{{award.name}}</div>
                <div class="award-date">{{award.endDate}}</div>
            </div>
            <!-- SWITCH: unless "page.includeAwardsIssuer" is set to "true", the awards issuer
            will NOT be included. This means DEFAULT is not to include the award issuer. -->
            {% if page.includeAwardsIssuer %}
            <div class="award-issuer">{{award.issuer}}</div>
            {% endif %}
            <div class="award-body">
                <!-- SWITCH: if "page.modifiedAward" exists, the for loop will check if the current award Section
                Entry should be MODIFIED. Each MODIFIED award Section Entry only includes the Data Entries specified 
                as "true" in the modifiedAward yaml object. If "page.modifiedAward" does not exist, this for loop's 
                "else" will generate DEFAULT HTML for each award, i.e. including all award data. -->
                {% for entry in page.modifiedAward %}
                <!-- Generate HTML for MODIFIED Section Entries -->
                <!-- * Loop through modifiedAward objects, if award not in modifiedAward then go to ELSE for "if entry.name" loop. -->
                {% if entry.name == CurrentAward %}
                {% if entry.summary == true %}
                <div class="award-summary">
                    <p class="award-summary-body">{{ award.summary }}</p>
                </div>
                {% endif %}
                {% if entry.highlights == true %}
                <div class="award-highlights">
                    <!-- SWITCH: unless "page.includeAwardHighlightsTitle" is set to "true", the awards highlights 
                    title will NOT be included. This means DEFAULT is not to include the highlights Data title. -->
                    {% if award.highlights.size > 0 and page.includeAwardHighlightsTitle %}
                    <div class="award-highlights-title">Highlights: </div>
                    {% endif %}
                    <ul class="award-highlights-list">
                        {% for item in award.highlights %}
                        <li class="award-highlights-list-item">
                            {{ item }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <!-- * ELSE for "if entry.name" loop, i.e. if award not in modifiedAward then go to this ELSE.
                Generate DEFAULT HTML for Section Entries NOT in "page.modifiedAward" list, i.e.
                all items that are to be generated with full content. -->
                {% else %}
                <div class="award-summary">
                    <p class="award-summary-body">{{ award.summary }}</p>
                </div>
                <div class="award-highlights">
                    <!-- SWITCH: unless "page.includeAwardHighlightsTitle" is set to "true", the awards highlights 
                    title will NOT be included. This means DEFAULT is not to include the highlights Data title. -->
                    {% if award.highlights.size > 0 and page.includeAwardHighlightsTitle %}
                    <div class="award-highlights-title">Highlights: </div>
                    {% endif %}
                    <ul class="award-highlights-list">
                        {% for item in award.highlights %}
                        <li class="award-highlights-list-item">
                            {{ item }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <!-- * ELSE for "for entry in" loop, i.e. modifiedAward front matter is not being used.
                DEFAULT Section Entry generation if "page.modifiedAward" Switch does not exist -->
                {% else %}
                <div class="award-summary">
                    <p class="award-summary-body">{{ award.summary }}</p>
                </div>
                <div class="award-highlights">
                    <!-- SWITCH: unless "page.includeAwardHighlightsTitle" is set to "true", the awards highlights 
                    title will NOT be included. This means DEFAULT is not to include the highlights Data title. -->
                    {% if award.highlights.size > 0 and page.includeAwardHighlightsTitle %}
                    <div class="award-highlights-title">Highlights: </div>
                    {% endif %}
                    <ul class="award-highlights-list">
                        {% for item in award.highlights %}
                        <li class="award-highlights-list-item">
                            {{ item }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endunless %}
        {% endfor %}
    </div>

</div>