<!-- Set correct Data Source -->
{% if site.modified_resume_data contains "certsData" %}
<!-- Check if automatically included modified Data should be replaced with default Data  -->
{% if page.overrideResumeData contains "certsData" %}
{% assign DataLocation = site.data.defaultResumeData.certsData %}
<!-- Use modified Data -->
{% else %}
{% assign DataLocation = site.certsData %}
{% endif %}
<!-- If none of the above true use default Data -->
{% else %}
{% assign DataLocation = site.data.defaultResumeData.certsData %}
{% endif %}

<!-- Generate list of cert Section Entries that should be modified -->
{% assign modifiedCerts = page.modifiedCert | map: "name" %}

<!-- SWITCH: if "page.certElementTopMargin" exists its value will be added to the top margin of the whole Element
so that the Element can be moved down onto the next PDF page if necessary -->
<div class="certs-element element-block" {% if page.certElementTopMargin>0 %}
    style="margin-top:{{page.certElementTopMargin}}px" {% endif%}>
    <div class="element-head">
        <div class="certs-element-title element-title">Certifications</div>
    </div>

    <div class="certs-element-body element-body">
        <!-- * Loop through certs. -->
        {% for cert in DataLocation %}
        <!-- Setup each variable used in main loop -->
        {% assign CurrentCert = cert.name | replace: " ", "_" %}
        <!-- SWITCH: if cert "name" in "page.skipCert: []" then the cert's Section Entry 
        will be skipped.
        Note: each cert name is the "name" value for the cert in the "certsData.json"  data file but with 
        all whitespace replaced with underscores, e.g. "Google_IT_Automation_with_Python" -->
        {% unless page.skipCert contains CurrentCert %}
        <!-- SWITCH: if "page.modifyCertSectionMargins" contains CurrentCert, the margin value of the 
        modifyCertSectionMargins object will be added to the top margin of the Section so that the Section can be 
        moved down onto the next PDF page if necessary -->
        {% assign ModifySectionMargin = page.modifyCertSectionMargins | where: "section", {{CurrentCert}} %}
        {% assign SectionName = ModifySectionMargin | map: "section" %}
        {% assign TopMargin = ModifySectionMargin | map: "margin" %}
        <div class="cert-section-entry" {% if SectionName contains CurrentCert %} style="margin-top:{{TopMargin}}px"
            {%endif%}>
            <div class="cert-head">
                <div class="cert-title-block">
                    <div class="cert-title">{{cert.name}}</div>
                    {% assign CertTitleDivider = page.certTitleDivider | default: " &ndash; " %}
                    <div class="cert-title-divider">{{CertTitleDivider}}</div>
                    <div class="cert-issuer">{{cert.issuer}}</div>
                </div>
                <div class="cert-date">{{cert.endDate}}</div>
            </div>
            <div class="cert-body">
                <!-- SWITCH: if "page.modifiedCert" exists and contains the CurrentCert, the for loop will check 
                if the current "cert" Section Entry should be MODIFIED. Each MODIFIED cert Section Entry only includes
                the Data Entries specified as "true" in the modifiedCert yaml object. If "page.modifiedCert" does not 
                exist, the "if modifiedCerts" condition's "else" will generate DEFAULT HTML for each "cert", i.e. 
                including all cert data. -->
                {% if modifiedCerts contains CurrentCert %}
                <!-- FOR loop finds correct modifiedCert YAML object for generating the section body -->
                {% for entry in page.modifiedCert %}
                <!-- Generate HTML for MODIFIED Section Entries -->
                {% if entry.name == CurrentCert %}
                {% if entry.summary == true %}
                <div class="cert-summary">
                    <p class="cert-summary-body">{{ cert.summary }}</p>
                </div>
                {% endif %}
                {% if entry.highlights == true %}
                <div class="cert-highlights">
                    <!-- SWITCH: unless "page.includeCertHighlightsTitle" is set to "true", the project highlights 
                    title will NOT be included. This means DEFAULT is not to include the highlights Data title. -->
                    {% if cert.highlights.size > 0 and page.includeCertHighlightsTitle or
                    entry.highlightsTitle == true %}
                    <div class="cert-highlights-title">Highlights: </div>
                    {% endif %}
                    <ul class="cert-highlights-list">
                        {% for item in cert.highlights %}
                        <li class="cert-highlights-list-item">
                            {{ item }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <!-- SWITCH: unless "page.includeCertLinkAndId" is set to "true", the Cert Link and ID will 
                NOT be included. This means DEFAULT is not to include the Cert Link and ID. -->
                {% if entry.linkAndId == true or page.includeCertLinkAndId %}
                <div class="cert-link-id-block">
                    {% if cert.certId.size > 0 %}
                    <div class="cert-id-desc">{{cert.certLinkValue}} ID#: </div>
                    {% endif %}
                    <a href="{{cert.certLink}}" class="cert-link-value">{{cert.certId}}</a>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                <!-- ELSE for "for entry in" loop, i.e. modifiedCert front matter is not being used or does 
                not contain the Current Project. -->
                {% else %}
                <!-- DEFAULT Section Entry generation if "page.modifiedCert" Switch does not exist -->
                <div class="cert-summary">
                    <p class="cert-summary-body">{{ cert.summary }}</p>
                </div>
                <div class="cert-highlights">
                    <!-- SWITCH: unless "page.includeCertHighlightsTitle" is set to "true", the cert highlights 
                    title will NOT be included. This means DEFAULT is not to include the highlights Data title. -->
                    {% if cert.highlights.size > 0 and page.includeCertHighlightsTitle %}
                    <div class="cert-highlights-title">Highlights: </div>
                    {% endif %}
                    <ul class="cert-highlights-list">
                        {% for item in cert.highlights %}
                        <li class="cert-highlights-list-item">
                            {{ item }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- SWITCH: unless "page.includeCertLinkAndId" is set to "true", the Cert Link and ID will 
                NOT be included. This means DEFAULT is not to include the Cert Link and ID. -->
                {% if page.includeCertLinkAndId %}
                <div class="cert-link-id-block">
                    {% if cert.certId.size > 0 %}
                    <div class="cert-id-desc">{{cert.certLinkValue}} ID#: </div>
                    {% endif %}
                    <a href="{{cert.certLink}}" class="cert-link-value">{{cert.certId}}</a>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% endunless %}
        {% endfor %}
    </div>

</div>