<!-- Set correct Data Source -->
{% if site.modifiedResumeData contains "contactInfoData" %}
<!-- Check if automatically included modified Data should be replaced with default Data  -->
{% if page.overrideResumeData contains "contactInfoData" %}
{% assign DataLocation = site.data.defaultResumeData.contactInfoData %}
<!-- Use modified Data -->
{% else %}
{% assign DataLocation = site.contactInfoData %}
{% endif %}
<!-- If none of the above true use default Data -->
{% else %}
{% assign DataLocation = site.data.defaultResumeData.contactInfoData %}
{% endif %}

<!-- Set Secret Data Source -->
{% assign SecretDataLocation = site.data.secretData.contactInfoSecretData %}

<div class="contact-element resume-head-item">
    <!-- SWITCH: unless "page.includeContactElementTitle" is set to "true", the contact element title
    will NOT be included. This means DEFAULT is not to include the element title. -->
    {% if page.includeContactElementTitle %}
    <div class="content-element-head">
        <div class="contact-element-title">Contact Info</div>
    </div>
    {% endif %}

    <div class="contact-element-body">
        <!-- SWITCH: if Contact Section Entry name in "page.skipContactEntry: []" then the Section entry 
        will be skipped. Note: each Section Entry name is the string in the liquid "assign" block above 
        the Section Entry -->
        {% assign phoneNum = "PhoneNum" %}
        {% unless page.skipContactEntry contains phoneNum %}
        <div class="contact-section-entry">
            <div class="contact-entry-desc">Phone: </div>
            <div class="contact-entry-value">{{SecretDataLocation.phone}}</div>
        </div>
        {% endunless %}

        {% assign emailAdd = "EmailAdd" %}
        {% unless page.skipContactEntry contains emailAdd %}
        <div class="contact-section-entry">
            <div class="contact-entry-desc">Email: </div>
            <a href="mailto:{{SecretDataLocation.email}}" class="contact-entry-value">{{SecretDataLocation.email}}</a>
        </div>
        {% endunless %}

        {% assign currLocation = "CurrLocation" %}
        {% unless page.skipContactEntry contains currLocation %}
        <div class="contact-section-entry location-entry">
            <!-- DEFAULT is just location value, no description, i.e. no "Location: value" -->
            <div class="contact-entry-value">{{SecretDataLocation.location}}</div>
        </div>
        {% endunless %}

        {% for website in DataLocation.websites %}
        <!-- SWITCH: if website name in "page.skipContactWebsite: []" then website Section Entry will be skipped
        Note: each website name is the "websiteDesc" value for the website in the "contactInfoData.json" data 
        file -->
        {% unless page.skipContactWebsite contains website.websiteDesc %}
        <div class="contact-section-entry">
            <div class="contact-entry-desc">{{website.websiteDesc}}: </div>
            <a href="{{website.websiteLink}}" class="contact-entry-value">{{website.websiteLinkValue}}</a>
        </div>
        {% endunless %}

        {% endfor %}
    </div>

</div>