<!-- This file exists to keep all of the code for including the Resume's Elements out of 
the index.md file so that the index.md file exists primarily as a 'configuration' file 
where the Resume's 'front matter variables' are the core content -->

<!-- DEFAULT: All Resumes will always include the Resume Title and Contact Info -->
{% include defaultElementTemplates/resumeHeadTemplate.html %}


<!-- SWITCH: Add default Resume content to Resume unless excluded, and if modified 
templates exist use those instead -->
<!-- Add all Element Templates to Resume index.html -->
{% for element in site.defaultResumeContents %}

{% if page.excludeResumeContents contains element %}
{% continue %}

{% elsif site.modifiedResumeTemplates contains element %}
<!-- Check if automatically included modified Template should be replaced with default Template -->
{% if page.overrideResumeTemplates contains element %}
{% include defaultElementTemplates/{{element}}.html %}
<!-- Use modified Template -->
{% else %}
{% include_relative _includes/{{element}}.html %}
{% endif %}

<!-- If none of the above true use default Template -->
{% else %}
{% include defaultElementTemplates/{{element}}.html %}
{% endif %}
{% endfor %}