<!-- Set correct Data Source -->
{% if site.modified_resume_data contains "educationData" %}
<!-- Check if automatically included modified Data should be replaced with default Data  -->
{% if page.overrideResumeData contains "educationData" %}
{% assign DataLocation = site.data.defaultResumeData.educationData %}
<!-- Use modified Data -->
{% else %}
{% assign DataLocation = site.educationData %}
{% endif %}
<!-- If none of the above true use default Data -->
{% else %}
{% assign DataLocation = site.data.defaultResumeData.educationData %}
{% endif %}

<!-- Generate list of education Section Entries that should be modified -->
{% assign modifiedDegrees = page.modifiedEducation | map: "degree" %}

<!-- SWITCH: if "page.educationElementTopMargin" exists its value will be added to the top margin of the whole Element
so that the Element can be moved down onto the next PDF page if necessary -->
<div class="education-element element-block" {% if page.educationElementTopMargin>0 %}
    style="margin-top:{{page.educationElementTopMargin}}px" {% endif%}>
    <div class="element-head">
        <div class="education-element-title element-title">Education</div>
    </div>

    <div class="education-element-body element-body">
        <!-- * Loop through education Section Entries, i.e. degrees -->
        {% for education in DataLocation %}
        <!-- Setup each variable used in main loop -->
        {% assign CurrentDegree = education.degree | replace: " ", "_" %}
        <!-- SWITCH: if "degree" in "page.skipEducation: []" then the Education Section Entry, 
        i.e. degree, will be skipped.
        Note: each Education degree is the "degree" value for the Education in the "educationData.json" data 
        file but with all whitespace replaced with underscores, e.g. "Master_of_Arts" -->
        {% unless page.skipEducation contains CurrentDegree %}
        <!-- SWITCH: if "page.modifyEducationSectionMargins" contains CurrentDegree, the margin value of the 
        modifyEducationSectionMargins object will be added to the top margin of the Section so that the Section can be 
        moved down onto the next PDF page if necessary -->
        {% assign ModifySectionMargin = page.modifyEducationSectionMargins | where: "section", {{CurrentDegree}} %}
        {% assign SectionName = ModifySectionMargin | map: "section" %}
        {% assign TopMargin = ModifySectionMargin | map: "margin" %}
        <div class="education-section-entry" {% if SectionName contains CurrentDegree %}
            style="margin-top:{{TopMargin}}px" {%endif%}>
            <div class="education-head">
                <div class="education-title-block">
                    <div class="education-degree">{{education.degree}}</div>
                    {% assign DegreeTitleDivider = page.degreeTitleDivider | default: " &ndash; " %}
                    <!-- If no major than set Degree Title Divider to empty 
                    Note: as the variable holds between loops, unless reset by page.degreeTitleDivider 
                    or this if statement, the variable will stay as the "dash" default, hence why this if
                    statement must follow the initial assignment and not be incorporated into it -->
                    {% if education.major.size == 0 %}
                    {% assign DegreeTitleDivider = " " %}
                    {% endif %}
                    <div class="education-title-divider">{{DegreeTitleDivider}}</div>
                    <div class="education-major">{{education.major}}</div>
                </div>
                <div class="education-date">{{education.endDate}}</div>
            </div>
            <div class="education-school-block">
                <div class="education-school">{{education.school}}</div>
                {% assign DegreeSchoolDivider = page.degreeSchoolDivider | default: " &ndash; " %}
                <div class="education-school-divider">{{DegreeSchoolDivider}}</div>
                <div class="education-location">{{education.location}}</div>
            </div>
            <div class="education-body">
                <!-- SWITCH: if "page.modifiedEducation" exists and contains the CurrentDegree, the for loop will 
                check if the current "education" Section Entry should be MODIFIED. Each MODIFIED education Section 
                Entry only includes the Data Entries specified as "true" in the modifiedEducation yaml object. If 
                "page.modifiedEducation" does not exist, the "if modifiedDegrees" condition's "else" will generate 
                DEFAULT HTML for each "degree", i.e. including all degree data. -->
                {% if modifiedDegrees contains CurrentDegree %}
                <!-- FOR loop finds correct modifiedEducation YAML object for generating the section body -->
                {% for entry in page.modifiedEducation %}
                <!-- Generate HTML for MODIFIED Section Entries -->
                {% if entry.degree == CurrentDegree %}
                {% if entry.minors == true %}
                <div class="education-minors">
                    {% if education.minors.size == 1 %}
                    <div class="education-minors-desc">Minor: </div>
                    {% elsif education.minors.size > 1 %}
                    <div class="education-minors-desc">Minors: </div>
                    {% endif %}
                    <div class="education-minors-list">
                        {{education.minors | join: "; "}}
                    </div>
                </div>
                {% endif %}
                {% if entry.summary == true %}
                <div class="education-summary">
                    <p class="education-summary-body">{{ education.summary }}</p>
                </div>
                {% endif %}
                {% if entry.highlights == true %}
                <div class="education-highlights">
                    <!-- SWITCH: unless "page.includeEducationHighlightsTitle" is set to "true", the "education" highlights 
                    title will NOT be included. This means DEFAULT is not to include the highlights Data title. -->
                    {% if education.detailedHighlights.size > 0 and page.includeEducationHighlightsTitle or
                    entry.highlightsTitle == true %}
                    <div class="education-highlights-title">Highlights: </div>
                    {% endif %}
                    {% for item in education.detailedHighlights %}
                    <div class="education-highlights-item">
                        <ul class="education-highlight-list">
                            <li class="education-highlight">{{item.highlight}}</li>
                        </ul>
                        <!-- Modified SWITCH: unless "page.modifiedEducation" entry for "detailList" OR "page.includeEducationDetailList" 
                        is set to "true", the highlight's extra details will NOT be included. This means DEFAULT is not to include
                        the highlight's extra details. -->
                        {% if entry.detailList == true or page.includeEducationDetailList %}
                        <ul class="education-highlight-details-list">
                            {% for point in item.details %}
                            <li class="education-highlight-detail">
                                {{ point }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <!-- Modified  SWITCH: unless "page.modifiedEducation" entry for "thesisLink" OR "page.includeEducationThesisLink" 
                is set to "true", the "Education" Thesis Link will NOT be included. This means DEFAULT is not to include the 
                "Education" Thesis Link. -->
                {% if entry.thesisLink == true or page.includeEducationThesisLink %}
                <div class="education-thesis-link-block">
                    {% if education.thesisLink.size > 0 %}
                    <div class="education-thesis-link-desc">{{education.thesisDesc}}: </div>
                    <a href="{{education.thesisLink}}" class="background-source-entry-value link-icon-box">
                        <img class="link-icon" src="assets/svg/link-horizontal-blue-bold.svg"></a>
                    {% endif %}
                    <a href="{{education.thesisLink}}" class="education-thesis-link-value">{{education.thesisValue}}</a>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                <!-- ELSE for "for entry in" loop, i.e.modifiedEducation front matter is not being used or does 
                not contain the Current Degree. -->
                {% else %}
                <!-- DEFAULT Section Entry generation if "page.modifiedEducation" Switch does not exist -->
                <div class="education-minors">
                    {% if education.minors.size == 1 %}
                    <div class="education-minors-desc">Minor: </div>
                    {% elsif education.minors.size > 1 %}
                    <div class="education-minors-desc">Minors: </div>
                    {% endif %}
                    <div class="education-minors-list">
                        {{education.minors | join: "; "}}
                    </div>
                </div>
                <div class="education-summary">
                    <p class="education-summary-body">{{ education.summary }}</p>
                </div>
                <div class="education-highlights">
                    <!-- SWITCH: unless "page.includeEducationHighlightsTitle" is set to "true", the "education" highlights 
                    title will NOT be included. This means DEFAULT is not to include the highlights Data title. -->
                    {% if education.detailedHighlights.size > 0 and page.includeEducationHighlightsTitle %}
                    <div class="education-highlights-title">Highlights: </div>
                    {% endif %}
                    {% for item in education.detailedHighlights %}
                    <div class="education-highlights-item">
                        <ul class="education-highlight-list">
                            <li class="education-highlight">{{item.highlight}}</li>
                        </ul>
                        <!-- SWITCH: unless "page.includeEducationDetailList" is set to "true", the highlight's extra details 
                        will NOT be included. This means DEFAULT is not to include the highlight's extra details. -->
                        {% if page.includeEducationDetailList %}
                        <ul class="education-highlight-details-list">
                            {% for point in item.details %}
                            <li class="education-highlight-detail">
                                {{ point }}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <!-- SWITCH: unless "page.includeEducationThesisLink" is set to "true", the "Education" Thesis Link will 
                NOT be included. This means DEFAULT is not to include the "Education" Thesis Link. -->
                {% if page.includeEducationThesisLink %}
                <div class="education-thesis-link-block">
                    {% if education.thesisLink.size > 0 %}
                    <div class="education-thesis-link-desc">{{education.thesisDesc}}: </div>
                    <a href="{{education.thesisLink}}" class="background-source-entry-value link-icon-box">
                        <img class="link-icon" src="assets/svg/link-horizontal-blue-bold.svg"></a>
                    {% endif %}
                    <a href="{{education.thesisLink}}" class="education-thesis-link-value">{{education.thesisValue}}</a>
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
        {% endunless %}
        {% endfor %}
    </div>

</div>