<!-- Set correct Data Source -->
{% if site.modifiedResumeData contains "professionalBackgroundData" %}
<!-- Check if automatically included modified Data should be replaced with default Data  -->
{% if page.overrideResumeData contains "professionalBackgroundData" %}
{% assign DataLocation = site.data.defaultResumeData.professionalBackgroundData %}
<!-- Use modified Data -->
{% else %}
{% assign DataLocation = site.professionalBackgroundData %}
{% endif %}
<!-- If none of the above true use default Data -->
{% else %}
{% assign DataLocation = site.data.defaultResumeData.professionalBackgroundData %}
{% endif %}

<div class="background-element element-block">
    <div class="element-head">
        <div class="background-element-title element-title">Professional Background</div>
    </div>

    <div class="background-element-body element-body">
        <!-- * Loop through professional backgrounds. -->
        {% for job in DataLocation %}
        <!-- Setup each variable used in main loop -->
        {% assign CurrentJob = job.position | replace: " ", "_" %}
        <!-- SWITCH: if "position" in "page.skipProfessionalBackground: []" then position Section Entry will be skipped
        Note: each Professional Background position is the "position" value for the Professional Background in 
        the "professionalBackgroundData.json" data file but with all whitespace replaced with underscores, 
        e.g. "Graduate_Assistant" -->
        {% unless page.skipProfessionalBackground contains CurrentJob %}
        <div class="background-section-entry">
            <div class="background-head">
                <div class="background-title-block">
                    <div class="background-company">{{job.company}}</div>
                    {% assign BackgroundTitleDivider = page.backgroundTitleDivider | default: " &ndash; " %}
                    <div class="background-title-divider">{{BackgroundTitleDivider}}</div>
                    <div class="background-position">{{job.position}}</div>
                </div>
                <div class="background-dates-block">
                    <div class="background-date background-start-date">{{job.startDate}}</div>
                    {% assign BackgroundDateDivider = page.backgroundDateDivider | default: " to " %}
                    <div class="background-date-divider">{{BackgroundDateDivider}}</div>
                    <div class="background-date background-end-date">{{job.endDate}}</div>
                </div>
            </div>
            <!-- SWITCH: unless "page.includeBackgroundCompanyLocation" is set to "true", the Professional 
            Background Position location will NOT be included. This means DEFAULT is not to include the 
            Professional Background Position location. -->
            {% if page.includeBackgroundCompanyLocation %}
            <div class="background-location-block">
                <div class="background-location">{{job.location}}</div>
            </div>
            {% endif %}
            <div class="background-body">
                <!-- SWITCH: if "page.modifiedProfessionalBackground" exists, the for loop will check if the current "position" Section
                Entry should be MODIFIED. Each MODIFIED position Section Entry only includes the Data Entries specified as "true" in 
                the modifiedProfessionalBackground yaml object. If "page.modifiedProfessionalBackground" does not exist, this for loop's
                "else" will generate DEFAULT HTML for each "position", i.e. including all professional background data. -->
                {% for entry in page.modifiedProfessionalBackground %}
                <!-- Generate HTML for MODIFIED Section Entries -->
                <!-- * Loop through modifiedProfessionalBackground objects, if position not in modifiedProfessionalBackground then go to 
                 * ELSE for "if entry.position" loop. -->
                {% if entry.position == CurrentJob %}
                {% if entry.summary == true %}
                <div class="background-summary">
                    <p class="background-summary-body">{{ job.summary }}</p>
                </div>
                {% endif %}
                {% if entry.highlights == true %}
                <div class="background-highlights">
                    <!-- SWITCH: unless "page.includeBackgroundHighlightsTitle" is set to "true", the background highlights 
                    title will NOT be included. This means DEFAULT is not to include the highlights Data title. -->
                    {% if job.highlights.size > 0 and page.includeBackgroundHighlightsTitle or
                    entry.highlightsTitle == true %}
                    <div class="background-highlights-title">Highlights: </div>
                    {% endif %}
                    <ul class="background-highlights-list">
                        {% for item in job.highlights %}
                        <li class="background-highlights-list-item">
                            {{ item }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <!-- * ELSE for "if entry.position" loop, i.e. if position not in modifiedProfessionalBackground then go to this ELSE.
                Generate DEFAULT HTML for Section Entries NOT in "page.modifiedProfessionalBackground" list, i.e.
                all items that are to be generated with full content. -->
                {% else %}
                <div class="background-summary">
                    <p class="background-summary-body">{{ job.summary }}</p>
                </div>
                <div class="background-highlights">
                    <!-- SWITCH: unless "page.includeBackgroundHighlightsTitle" is set to "true", the background highlights 
                    title will NOT be included. This means DEFAULT is not to include the highlights Data title. -->
                    {% if job.highlights.size > 0 and page.includeBackgroundHighlightsTitle %}
                    <div class="background-highlights-title">Highlights: </div>
                    {% endif %}
                    <ul class="background-highlights-list">
                        {% for item in job.highlights %}
                        <li class="background-highlights-list-item">
                            {{ item }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <!-- * ELSE for "for entry in" loop, i.e. modifiedProfessionalBackground front matter is not being used.
                DEFAULT Section Entry generation if "page.modifiedProfessionalBackground" Switch does not exist -->
                {% else %}
                <div class="background-summary">
                    <p class="background-summary-body">{{ job.summary }}</p>
                </div>
                <div class="background-highlights">
                    <!-- SWITCH: unless "page.includeBackgroundHighlightsTitle" is set to "true", the background highlights 
                    title will NOT be included. This means DEFAULT is not to include the highlights Data title. -->
                    {% if job.highlights.size > 0 and page.includeBackgroundHighlightsTitle %}
                    <div class="background-highlights-title">Highlights: </div>
                    {% endif %}
                    <ul class="background-highlights-list">
                        {% for item in job.highlights %}
                        <li class="background-highlights-list-item">
                            {{ item }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endunless %}
        {% endfor %}
    </div>

</div>