<!-- The Projects Templates file uses only data from "projectsData.json" and does NOT include data
from "minorProjectsData.json" which will have its own template that is designed to 'slot' under the HTML
produced by this template. The goal is that this template can be used exclusively when I move past the 
point of including 'minor projects' on my resume. -->

<!-- Set correct Data Source -->
{% if site.modified_resume_data contains "majorProjectsData" %}
<!-- Check if automatically included modified Data should be replaced with default Data  -->
{% if page.overrideResumeData contains "majorProjectsData" %}
{% assign DataLocation = site.data.defaultResumeData.majorProjectsData %}
<!-- Use modified Data -->
{% else %}
{% assign DataLocation = site.majorProjectsData %}
{% endif %}
<!-- If none of the above true use default Data -->
{% else %}
{% assign DataLocation = site.data.defaultResumeData.majorProjectsData %}
{% endif %}

<!-- Generate list of project Section Entries that should be modified -->
{% assign modifiedProjects = page.modifiedProject | map: "name" %}

<!-- SWITCH: if "page.projectElementTopMargin" exists its value will be added to the top margin of the whole Element
so that the Element can be moved down onto the next PDF page if necessary -->
<div class="projects-element element-block" {% if page.projectElementTopMargin>0 %}
    style="margin-top:{{page.projectElementTopMargin}}px" {% endif%}>
    <div class="element-head">
        <div class="projects-element-title element-title">Projects</div>
    </div>

    <div class="projects-element-body element-body">
        <!-- * Loop through projects. -->
        {% for project in DataLocation %}
        <!-- Setup each variable used in main loop -->
        {% assign CurrentProject = project.name | replace: " ", "_" %}
        <!-- SWITCH: if "project" in "page.skipProject: []" then project Section Entry will be skipped
        Note: each project name is the "name" value for the project in the "majorProjectsData.json" 
        data file but with all whitespace replaced with underscores, e.g. 
        "Financial_Trade_Message_Router" -->
        {% unless page.skipProject contains CurrentProject %}
        <!-- SWITCH: if "page.modifyProjectSectionMargins" contains CurrentProject, the margin value of the 
        modifyProjectSectionMargins object will be added to the top margin of the Section so that the Section can be 
        moved down onto the next PDF page if necessary -->
        {% assign ModifySectionMargin = page.modifyProjectSectionMargins | where: "section", {{CurrentProject}} %}
        {% assign SectionName = ModifySectionMargin | map: "section" %}
        {% assign TopMargin = ModifySectionMargin | map: "margin" %}
        <div class="project-section-entry" {% if SectionName contains CurrentProject %}
            style="margin-top:{{TopMargin}}px" {%endif%}>
            <div class="project-head">
                <div class="project-title-block">
                    <div class="project-title">{{project.name}}</div>
                    {% assign ProjectTitleDivider = page.projectTitleDivider | default: " &ndash; " %}
                    <div class="project-title-divider">{{ProjectTitleDivider}}</div>
                    <div class="project-github-link-block link-block">
                        <div class="project-github-link-desc">GitHub: </div>
                        <!-- SWITCH: if the project does not have a source link, do NOT include the link symbol -->
                        {% if project.githubLink.size > 0 %}
                        <a href="{{project.githubLink}}" class="project-github-entry-value link-icon-box">
                            <img class="link-icon" src="assets/svg/link-horizontal-blue-bold.svg"></a>
                        {% endif %}
                        <a href="{{project.githubLink}}"
                            class="project-github-entry-value">{{project.githubLinkValue}}</a>
                    </div>
                </div>
                <div class="project-date">{{project.endDate}}</div>
            </div>
            <div class="project-body">
                <!-- SWITCH: if "page.modifiedProject" exists and contains the CurrentProject, the for loop will check 
                if the current "project" Section Entry should be MODIFIED. Each MODIFIED project Section Entry only includes 
                the Data Entries specified as "true" in the modifiedProject yaml object. If "page.modifiedProject" does not 
                exist, the "if modifiedProjects" condition's "else" will generate DEFAULT HTML for each "project", i.e. 
                including all project data. -->
                {% if modifiedProjects contains CurrentProject %}
                <!-- FOR loop finds correct modifiedProject YAML object for generating the section body -->
                {% for entry in page.modifiedProject %}
                <!-- Generate HTML for MODIFIED Section Entries -->
                {% if entry.name == CurrentProject %}
                {% if entry.takeaways == true %}
                <div class="project-takeaways">
                    {% if project.takeaways.size > 0 %}
                    <div class="project-takeaways-desc">Takeaways: </div>
                    {% endif %}
                    <div class="project-takeaways-list">
                        {{project.takeaways | join: "; "}}
                    </div>
                </div>
                {% endif %}
                {% if entry.technologies == true %}
                <div class="project-technologies">
                    {% if project.technologies.size > 0 %}
                    <div class="project-technologies-desc">Languages and Tools: </div>
                    {% endif %}
                    <div class="project-technologies-list">
                        {{project.technologies | join: ", "}}
                    </div>
                </div>
                {% endif %}
                {% if entry.summary == true %}
                <div class="project-summary">
                    <p class="project-summary-body">{{ project.summary }}</p>
                </div>
                {% endif %}
                {% if entry.highlights == true %}
                <div class="project-highlights">
                    <!-- SWITCH: unless "page.includeProjectHighlightsTitle" is set to "true", the project highlights 
                    title will NOT be included. This means DEFAULT is not to include the highlights Data title. -->
                    {% if project.highlights.size > 0 and page.includeProjectHighlightsTitle or
                    entry.highlightsTitle == true %}
                    <div class="project-highlights-title">Highlights: </div>
                    {% endif %}
                    <ul class="project-highlights-list">
                        {% for item in project.highlights %}
                        <li class="project-highlights-list-item">
                            {{ item }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                <!-- ELSE for "for entry in" loop, i.e. modifiedProject front matter is not being used or does 
                not contain the Current Project. -->
                {% else %}
                <!-- DEFAULT Section Entry generation if "page.modifiedProject" Switch does not exist -->
                <div class="project-takeaways">
                    {% if project.takeaways.size > 0 %}
                    <div class="project-takeaways-desc">Takeaways: </div>
                    {% endif %}
                    <div class="project-takeaways-list">
                        {{project.takeaways | join: "; "}}
                    </div>
                </div>
                <div class="project-technologies">
                    {% if project.technologies.size > 0 %}
                    <div class="project-technologies-desc">Languages and Tools: </div>
                    {% endif %}
                    <div class="project-technologies-list">
                        {{project.technologies | join: ", "}}
                    </div>
                </div>
                <div class="project-summary">
                    <p class="project-summary-body">{{ project.summary }}</p>
                </div>
                <div class="project-highlights">
                    <!-- SWITCH: unless "page.includeProjectHighlightsTitle" is set to "true", the project highlights 
                    title will NOT be included. This means DEFAULT is not to include the highlights Data title. -->
                    {% if project.highlights.size > 0 and page.includeProjectHighlightsTitle %}
                    <div class="project-highlights-title">Highlights: </div>
                    {% endif %}
                    <ul class="project-highlights-list">
                        {% for item in project.highlights %}
                        <li class="project-highlights-list-item">
                            {{ item }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        {% endunless %}
        {% endfor %}
    </div>

</div>