// Remove any excess bottom margins to stop extra page from being added to PDF
.service-element {
    margin-bottom: 0;
}

.service-section-entry {
    margin-bottom: 0;
}

.project-element {
    margin-bottom: 0;
    height: 0;
}